<div class="section" fxLayout="row">
    <div class="left-container">
        <div>
            <img class="r-image" src="E:\CFP_BZ\BookStore_frontend\src\assets\logo1.png">
        </div>
        <div>
            <span class="image_bottm_text">ONLINE BOOK SHOPPING</span>
        </div>
    </div>

    <div class="right-container" *ngIf="!switchCard" fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="registrationForm" (ngSubmit)="Register()">
            <mat-card class="registration">
                <div>
                    <button class="button1" (click)="cardSwap()">LOGIN</button>
                    <button class="button2">SIGNUP</button>
                </div>
                <div class="fields">
                    <mat-form-field appearance="outline">
                        <mat-label>FullName</mat-label>
                        <input matInput placeholder="FullName" formControlName="fullName">
                        <mat-error>enter valid name</mat-error>
                    </mat-form-field>
                </div>
                <div class="fields">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error>enter valid email</mat-error>
                    </mat-form-field>
                </div>
                <div class="fields">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password">
                        <mat-error>enter valid password</mat-error>
                    </mat-form-field>
                </div>
                <div class="fields">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="Phone" formControlName="phone">
                        <mat-error>enter valid phone no</mat-error>
                    </mat-form-field>
                </div>

                <div class="fields">
                    <button mat-stroked-button class="ForColor">Signup</button>
                </div>
            </mat-card>
        </form>    
    </div>

    <div Class="right-container" *ngIf="switchCard" fxLayout="row" fxLayoutAlign="center center">
        <form [formGroup]="loginForm" (ngSubmit)="Login()">
            <mat-card class="registration">
                <div>
                    <button class="button1" >LOGIN</button>
                    <button class="button2" (click)="cardSwap()">SIGNUP</button>
                </div>
                <div class="fields">
                    <mat-form-field appearance="outline">
                        <mat-label>EmailId</mat-label>
                        <input matInput placeholder="email" formControlName="email">
                        <mat-error>enter valid email</mat-error>
                    </mat-form-field>
                </div>
                <div class="fields">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="password" formControlName="password">
                        <mat-error>enter valid password</mat-error>
                    </mat-form-field>
                </div>
                <div class = "psw">
                    <button class="btnps">Forgot Email?</button>
                </div>        
                <div class="fields">
                    <button mat-stroked-button class="ForColor">Login</button>
                </div>
                <div class="OR">
                    <span class="OR">___________ OR ___________</span>              
                </div>
                <div>
                    <button  mat-raised-button color="primary" class="button3" >Facebook</button>
                    <button  mat-stroked-button class="button4">Google</button>
                </div>
            </mat-card>
        </form>    
    </div>
</div>
